apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: 854439979417.dkr.ecr.us-east-1.amazonaws.com/myreg/my-app:5
          ports:
            - containerPort: 8081
      imagePullSecrets:
        - name: ecr-secret
